* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: black;
}

.flex {
    display: flex;
}

/* Header */
.menu-header {
    margin-top: 0.3em;
    justify-content: flex-end;
}

.menu-header .btn-head .fas {
    line-height: 1.4em;
}

.menu-header .btn-head {
    border: none;
    padding: 0 0.2em;
    border-radius: 3px;
    color: white;
    background-color: rgb(56, 56, 56);
}

.menu-header .btn-head .fa-th {
    margin-right: 0.2em;
}

.menu-header .btn-head span {
    font-size: smaller;
    line-height: 1.6em;
}

.btn-small {
    padding: 0 0.2em 0;
    margin-left: 0.5em;
    margin-right: 0.3em;
}
/* End Header */

/* Main Section */
.main-container {
    width: 90%;
    height: calc(100vh - 3em);
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}

.main-cont-img {
    width: calc(100% / 7);
    height: calc(100% / 5);
}

.main-cont-img {
    padding: 0.3em;
}
/* End Main Section */

/* Footer */

/* End Footer */